<div class="title form-title">
  <h3>Users</h3>
</div>

<table class="users table table-condensed">
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th>Since</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.full_name, user %></td>
      <td><%= user.role %></td>
      <td><%= user.created_at.to_date %></td>
        <td><%= link_to edit_user_path(user), :id => "edit_#{user.id}" do  %>
              <i class="icon-pencil"></i>
            <% end unless user.is?(:admin) || (cannot? :manage, User) %>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>