<h3>Users#index</h3>

<table class="users">
  <tr>
    <th>User</th>
    <th>Role</th>
    <th>Since</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.full_name, user %></td>
      <td><%= user.roles.first.name.titleize %></td>
      <td><%= user.created_at.to_date %></td>
      <td><%= link_to('Edit', edit_user_path(user)) if can? :edit, User %></td>
    </tr>
  <% end %>
</table>