<h3>Users#show</h3>
<br>

<table class="table table-bordered table-condensed">
  <tbody>
    <tr><td>User</td> <td><%= @user.full_name %></td></tr>
    <tr><td>Email</td><td><%= @user.email %></td></tr>
    <tr><td>Role</td> <td><%= @user.role %></td></tr>
  </tbody>
</table>

<br>
<%= link_to 'Back', :back %>
