<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%=h @header %></p>
    <table>
      <tbody>
        <tr>
          <td>Name:</td>
          <td>
            <% if @action == 'destroy' %>
              <%=h @object_title %>
            <% else %>
              <%=h link_to @object_title, @object_url %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>By user:</td><td><%=h "#{@user.full_name} (#{@user.email})" %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>