#company_description {
  width: 300px;
  height: 100px;
}

#company_website {
  width: 300px;
}

#company_linkedin {
  width: 300px;
}

#company_market_ids {
  width: 300px;
}

#company_location_ids {
  width: 300px;
}