#deal_close_date {
  width: 100px;
}

#deal_company_id {
  width: 200px;
}

#deal_investor_ids {
  width: 300px;
}

#deal_offerings_buyers {
  width: 300px;
}

#deal_source_url {
  width: 300px;
  height: 100px;
}

#verify_link {
  font-size: 12px;
  margin-left: 10px;
}

#deal_close_date_1i {
  width: 80px;
}

#deal_close_date_2i {
  width: 120px;
}