.bottom_links  {
  margin-top: 40px;
  /*margin-left: 160px;*/
}

.link {
  margin-left: 156px;
}

#login_email {
  margin-left: 10px;
  margin-top: 40px;
}

#login_linkedin {
  font-size: 18px;
  /*margin-left: 88px;*/
}

