#investor_description {
  width: 300px;
  height: 100px;
}

#investor_website {
  width: 300px;
}

#investor_linkedin {
  width: 300px;
}

#investor_market_ids {
  width: 300px;
}

#investor_location_ids {
  width: 300px;
}

#investor_stage {
  width: 300px;
}